.section__item {
	display: flex;
	flex-wrap: wrap;
	gap: 32px;
	justify-content: space-between;
	font-size: 24px;
	font-weight: 700;
	max-width: 1392px;
	padding-top: 47px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 80px;
	border-bottom: 1px solid #4e5d7c14;
	margin: 0 auto;
}

.section__item-blok {
	max-width: 408px;
	display: flex;
	gap: 16px;
}

@media (max-width: 1300px) {
	.section__item-blok {
		max-width: 100%;
	}
}
@media (max-width: 500px) {
	.section__item {
		font-size: 18px;
		padding-bottom: 48px;
	}
}
/* section__info */

.section__info {
	overflow: hidden;
	max-width: 1392px;
	margin: 0 auto;
	padding-left: 25px;
	padding-right: 25px;
}
.section__info-blok {
	display: flex;
	justify-content: space-between;
	gap: 64px;
	padding-top: 68px;
	padding-bottom: 38px;
	border-bottom: 1px solid #4e5d7c14;
}
.section__info-blok-revers {
	flex-direction: row-reverse;
	padding-right: 118px;
}
.section__info-blok-text {
	flex: 1;
	max-width: 510px;
	padding-left: 118px;
}
.section__info-blok-text h2 {
	font-size: 40px;
	font-weight: 600;
	margin-bottom: 24px;
}
.section__info-blok-text p {
	font-size: 18px;
	font-weight: 500;
	color: #4e5d7c80;
}
.section__info-blok-img {
	flex: 1;
	max-width: 729px;
	position: relative;
}
.info-blok-img {
	max-width: 100%;
}
.info-blok-img-pr {
	max-width: 450px;
	position: absolute;
	left: 215px;
	top: 130px;
}
.info-blok-img-pr2 {
	display: none;
}

@media (max-width: 1300px) {
	.section__info-blok {
		flex-direction: column-reverse;
		flex-wrap: wrap;
		gap: 32px;
	}
	.section__info-blok-text {
		max-width: 100%;
		padding-left: 0;
	}
	.section__info-blok-revers {
		padding-right: 0;
	}
}

@media (max-width: 800px) {
	.info-blok-img-pr {
		max-width: 250px;
		left: 290px;
		top: 180px;
	}
}

@media (max-width: 600px) {
	.section__info-blok-text h2 {
		font-size: 32px;
		font-weight: 600;
		margin-bottom: 24px;
	}
	.section__info-blok {
		padding-top: 48px;
		padding-bottom: 48px;
		gap: 33px;
	}
	.info-blok-img-pr-none {
		display: none;
	}
	.info-blok-img-none {
		display: none;
	}
	.info-blok-img-pr2 {
		display: block;
		max-width: 327px;
	}
}

/* advantages */

.advantages {
	background-color: var(--color-bg);
}
.advantages__header {
	max-width: 1392px;
	text-align: center;
	margin: 0 auto;
	padding: 120px 25px 64px;
}
.advantages__title {
	color: #fff;
	font-size: 48px;
	font-weight: 600;
	padding-bottom: 24px;
}
.advantages__description {
	opacity: 80%;
	font-size: 18px;
	font-weight: 500;
	padding-bottom: 40px;
	color: #fff;
}
.advantages__button {
	max-width: 345px;
	margin-left: auto;
	margin-right: auto;
}

.advantages__img {
	overflow: hidden;
	position: relative;
	display: flex;
	max-width: 1156px;
	margin: 0 auto;
	margin-bottom: 64px;
	padding-left: 25px;
	padding-right: 25px;
}
.advantages__img1 {
	position: absolute;

	width: 50%;
	height: 100%;
}
.advantages__img2 {
	width: 100%;
	height: 100%;
}
.comparison {
	display: flex;
	margin: 0 auto;
	max-width: 920px;
	padding-bottom: 96px;
	justify-content: center;
	gap: 24px;
	flex-wrap: wrap;

	padding-left: 25px;
	padding-right: 25px;
}

.comparison__title {
	color: #fff;
	font-size: 24px;
	font-weight: 700;
	padding-bottom: 24px;
}
.comparison__list {
	padding-left: 0;
	margin: 0;
}
.comparison__feature {
	display: flex;
	gap: 8px;
	padding-bottom: 24px;
	opacity: 80%;
	color: #fff;
	font-size: 18px;
	font-weight: 500;
}

@media (max-width: 500px) {
	.advantages__title {
		font-size: 36px;
		text-align: start;
	}
	.advantages__header {
		padding: 64px 25px 48px;
	}
	.advantages__description {
		text-align: start;
	}
	.comparison {
		padding-bottom: 64px;
	}
}

/* features */

.features {
	max-width: 1392px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(328px, 1fr));
	gap: 78px;
	margin: 0 auto;
	padding: 120px 25px 80px;
	border-bottom: 1px solid #4e5d7c14;
}

.features__item-title {
	padding-top: 24px;
	padding-bottom: 20px;
	margin: 0;
	font-size: 32px;
	font-weight: 600;
}
.features__item-description {
	opacity: 50%;
	color: #4e5d7c80;
	font-size: 17px;
	font-weight: 500;
}

@media (max-width: 500px) {
	.features__item-title {
		font-size: 24px;
	}
	.features {
		padding: 64px 25px 48px;
		gap: 32px;
	}
}

/* mobile */

.mobile {
	position: relative;
	overflow: hidden;
	max-width: 1392px;
	height: 1095px;
	margin: 0 auto;
	padding-left: 25px;
	padding-right: 25px;
}
.mobile__mac {
	position: absolute;
	top: 226px;
	left: 320px;
	max-width: 962px;
}
.mobile__iphone {
	position: absolute;
	top: 437px;
	left: 150px;
	max-width: 297px;
}

@media (max-width: 500px) {
	.mobile__mac {
		top: 250px;
		left: 200px;
	}
	.mobile__iphone {
		top: 450px;
		left: 30px;
	}
}

/* support */

.support {
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 1392px;
	background-color: var(--color-bg);
	border-radius: 16px;
	margin: 0 auto;
}
.support__img {
	display: flex;
	justify-content: end;
}
.support__img1 {
	width: 100%;
}
.support__blok {
	padding-left: 74px;
	padding-bottom: 44px;
	max-width: 444px;
}
.support__blok-titel {
	margin: 0;
	font-size: 40px;
	font-weight: 600;
	color: #fff;
	padding-top: 80px;
	padding-bottom: 4px;
}
.support__blok-text {
	max-width: 411px;
	font-size: 17px;
	font-weight: 500;
	opacity: 80%;
	color: #fff;
	padding-top: 20px;
	padding-bottom: 40px;
}
.support__blok-link {
	padding-left: 0;
	margin: 0;
}
.support__blok-link-li {
	display: flex;
	align-items: center;
	gap: 16px;
	padding-bottom: 20px;
}

@media (max-width: 1300px) {
	.support__blok {
		padding-left: 0;
		padding-bottom: 0;
		padding-left: 25px;
		padding-right: 25px;
	}
	.support {
		border-radius: 0;
		flex-wrap: wrap-reverse;
	}

	.support__blok-text {
		padding-bottom: 32px;
	}
	.support__blok-titel {
		padding-top: 64px;
	}
	.support__img {
		margin-right: 25px;
		margin-left: 25px;
	}
}

/* tariffs */

.tariffs {
	max-width: 1392px;
	margin: 0 auto;
	padding-left: 25px;
	padding-right: 25px;
}
.tariffs__blok {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 24px;
}
.tariffs__blok-card {
	border: 1px solid rgba(255, 255, 255, 0.16);
	border-radius: 8px;
	background: #fff;
}
.tariffs__blok-card-primaru {
	background-color: var(--color-bg);
	color: #fff;
}

.blok-card {
	position: relative;
	max-width: 289px;
	border-radius: 8px;
	padding: 93px 40px 48px;
	box-shadow: 0 0 32px rgba(79, 94, 125, 0.16);
}
.blok-card-discount {
	position: absolute;
	top: 48px;
	background-color: #1abc9c;
	padding: 4px 16px;
	border-radius: 8px;
	text-align: center;
	color: #fff;
}
.tariffs__blok-card-month {
	font-size: 32px;
	font-weight: 800;
	padding-bottom: 16px;
}
.tariffs__blok-card-text {
	padding-bottom: 34px;
	font-size: 17px;
	font-weight: 500;
	opacity: 50%;
	color: #4e5d7c80;
}
.tariffs__blok-card-text-primaru {
	padding-bottom: 14px;
	opacity: 40%;
	color: #fff;
}
.tariffs__blok-card-ul {
	padding: 0;
	font-size: 17px;
	font-weight: 500;
	color: #4e5d7c;
}
.tariffs__p {
	position: absolute;
	top: 8px;
	left: 155px;
	color: #fff;
	background-color: #ffc736;
	padding: 8px 16px;
	border-radius: 8px;
}

.tariffs__blok-card-li {
	position: relative;
	padding-top: 16px;
	padding-bottom: 16px;
	display: grid;
	grid-template-columns: 1.5fr 1fr;
	border-bottom: 1px solid rgba(78, 93, 124, 0.08);
}
.tariffs__blok-card-li:last-child {
	border-bottom: none;
}
.tariffs__blok-card-li-primaru {
	color: #fff;
	border-bottom: 1px solid rgba(255, 255, 255, 0.16);
}
.tariffs__blok-card-li-primaru:last-child {
	border-bottom: none;
}

.pg {
	max-width: 1156px;
	/* max-height: 438px; */
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 80px;
	padding-left: 25px;
	padding-right: 25px;
	position: relative;
	border-radius: 8px;
	overflow: hidden;
}

.review {
	max-width: 1156px;
	max-height: 438px;
	position: relative;
	background-color: var(--color-bg);
	display: flex;
	gap: 30px;
	border-radius: 8px;
}
.review__content {
	padding-top: 120px;
	padding-left: 104px;
	max-width: 450px;
}
.review__text {
	max-width: 450px;
	font-size: 28px;
	font-weight: 700;
	color: #fff;
	margin: 0;
}

.review__name {
	margin: 0;
	padding-top: 44px;
	color: #fff;
	font-size: 17px;
	font-weight: 700;
}
.review__position {
	color: #fff;
	font-size: 17px;
	font-weight: 700;
}

.review__image {
	border-radius: 0 8px 8px 0;
	width: 100%;
	height: 100%;
}

.review__left {
	position: absolute;
	z-index: 2;
	top: 360px;
	left: 20px;
}
.review__left:hover {
	opacity: 50%;
	cursor: pointer;
}
.review__right {
	position: absolute;
	opacity: 70%;
	z-index: 2;
	top: 360px;
	right: 20px;
}
.review__right:hover {
	opacity: 50%;
	cursor: pointer;
}
.review__points {
	position: absolute;
	display: none;
}
@media (max-width: 1000px) {
	.review__left {
		display: none;
	}
	.review__right {
		display: none;
	}
	.review {
		max-width: 528px;
		max-height: 809px;
		gap: 48px;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 104px;
		flex-wrap: wrap-reverse;
	}
	.review__content {
		margin-left: 25px;
		margin-right: 25px;
		padding-top: 0;
		padding-left: 0;
	}
	.review__name {
		padding-top: 24px;
	}

	.review__text {
		font-size: 24px;
	}
	.review__image {
		border-radius: 8px;
	}
	.review__points {
		display: block;
		bottom: 48px;
		left: 235px;
	}
}
@media (max-width: 500px) {
	.review__points {
		left: 135px;
	}
}
